.arrow-space {
  position: fixed;
  right: 1%;
  bottom: 0;
  display: inline-block;
  padding: 1em;
  margin: 1em;
  transition: all 0.25s ease-in-out;
  opacity: 0.8;
  cursor: pointer;
  opacity: 0.3;
  display: block;
  z-index: 9999;
}
.hide-arrow {
  display: none;
}

.arrow-space:hover {
  z-index: 9999;
  opacity: 1;
}
