/* TODO: create a default value of 10px spacing */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: #000
    url("https://images.unsplash.com/photo-1612036782180-6f0b6cd846fe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80")
    no-repeat center center/cover;
  height: 100vh;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 24px;
  margin: 0 auto;
  background-size: 100% 100%;
}

.card-link {
  text-decoration: none;
  color: #fff !important;
}

.container {
  max-width: 1100px;
  margin: auto;
}

.btn {
  display: inline-block;
  background-color: #3fb573;
  text-align: center;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 0.6em;
  color: #fff;
  border: 0;
}

.search {
  height: 60px;
}

input[type="text"] {
  display: block;
  padding: 10px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  width: 60%;
  margin: auto;
}

.contents {
  margin: 90px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.content {
  cursor: pointer;
  background-color: transparent;
  height: 350px;
  perspective: 1000px;
}

.content h1 {
  font-size: 24px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.content img {
  width: 100%;
  height: 350px;
}

.content-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 2s;
  transform-style: preserve-3d;
}

.content:hover .content-inner {
  transform: rotateY(180deg);
}

.content-front,
.content-back {
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  overflow-y: auto;
}

.content-back {
  background-color: #333;
  opacity: 0.9;
  color: white;
  padding: 20px;
  transform: rotateY(180deg);
}

.content li {
  list-style: none;
  padding-bottom: 10px;
}

@media (max-width: 800px) {
  .contents {
    margin: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .contents {
    margin: 20px;
    grid-template-columns: 1fr;
  }
}
